h3{
	font-family: 'Montserrat', sans-serif;
	color: #90b9f9;
}

h1{
	font-family: 'Oswald', sans-serif;
	color: #2b3e5b;
	font-size: 40px;
}

body{

	max-width: 700px;
	width: 80%;
	padding: 20px;
	border: 20px solid #d2ddef;
	margin: 20px auto;
}

p{
	font-family: arial;
}

.post{

	border-bottom: 1px solid #a3acba;
}

.first{

	border-left: 4px solid #a3acba;
	padding-left: 10px;
}